body {
    margin: 0;
    width: 2000px;
    height: 5700px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin : 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Header*/
.header{
    width: 100%;
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1690px;
    margin: 0 auto;
}

/*Navigation header*/
.navigation{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 10px 50px;
    align-items: center;
}

.navigation_link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: center;
    align-items: center;
}

.navigation_link:hover{
    color: cornflowerblue;
}

/*Buttons*/
.login_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #5584ff;
    background-color: #0e1a35;
    border-color: #5584ff;
    width: 130px;
    height: 50px;
    border-style: solid;
    border-radius: 40px;
    transition: background .3s linear, color .3s;
}

.login_button:hover{
    color: white;
    border-color: white;
}

/*Intro*/
.intro{
    width: 100%;
    height: 1100px;
    background-image: url("../images/InnerBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.intro_inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 5px;
}

.intro_subtitle{
    font-size: 36px;
    color: #8492af;
    margin-bottom: 88px;
}

.get_started_button{
    margin: 0 auto;
    margin-bottom: 88px;
    width: 205px;
    height: 50px;
    background-color: #5584ff;
    color: white;
    font-size: 18px;
    border-style: solid;
    border-radius: 40px;
    transition: background .2s linear, color .2s;
}

.get_started_button:hover{
    background-color: #0e1a35;
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.screen1_container{
    width: 900px;
    height: 490px;
    margin: 0 auto;
    bottom: 0;
    /*box-shadow: -10px 0px 50px rgb(85, 132, 255);*/
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Second slide*/
/*Image*/
.second_slide{
    width: 100%;
    height: 630px;
    top: 0;
    background-color: white;
}

.screen2_container{
    width: 900px;
    height: 130px;
    margin: 0 auto;
}

.space_container{
    height: 135px;
    width: 2000px;
}

.second_icons_container{
    margin: 0 auto;
    width: 1080px;
    height: 85px;
    display: flex;
    justify-content: space-between;
}


.first_line{
    border: none;
    margin-top: 37px;
    background-color: #dadee7;
    color: #dadee7;
    height: 1px;
    width: 220px;
}

.second_line{
    border: none;
    margin-top: 37px;
    background-color: #dadee7;
    color: #dadee7;
    height: 1px;
    width: 220px;
}

/*Title*/
.second_title{
    margin-top: 60px;
    font-size: 24px;
    color: #0e1a35;
}

.second_title_container{
    margin: 0 auto;
    width: 1255px;
    display: flex;
    justify-content: space-between;
}

/*Second subtitle*/
.second_subtitle{
    margin-top: 33px;
    font-size: 18px;
    color: #8492af;
}

.subtitle_align{
    text-align: center;
}

.second_subtitle_container{
    margin: 0 auto;
    width: 1355px;
    display: flex;
    justify-content: space-between;
}

/*Second buttons*/
.second_buttons_container{
    margin: 0 auto;
    margin-top: 55px;
    width: 1245px;
    display: flex;
    justify-content: space-between;
}

.see_more_button{
    font-size: 18px;
    color: #0e1a35;
    width: 250px;
    height: 50px;
    background-color: white;
    border-color: #dadee7;
    border-style: solid;
    border-radius: 60px;
    transition: background .4s linear, color .4s;
}

.see_more_button:hover{
    color: cornflowerblue;
    border-color: cornflowerblue;
}





























































































/* ////////////////////////////////////////////////////////////// */

/* Section */
.section {
    background-color: #fff;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 2000px;
    height: 970px;

}

.section__container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.section__header {
    width: 100%;
    max-width: 689px;
    margin-top: 43px;
    
}

.section__title {
    font-size: 60px;
    font-weight: 100;
    color: #0e1a35;
    margin-bottom: 40px;
}

.section__text {
    max-width: 590px;
    font-size: 18px;
    font-weight: 500;
    color: #8492af;
    line-height: 1.6;
    margin-bottom: 30px;
}

.section__point{
    display: flex;
    align-items: center;
}

.fa-regular {
    height: 28px;
    width: 28px;
}

.circle__check {
    color: #5284ff;
    color: #5584ff;
    height: 28px;
    width: 28px;
    margin-right: 19px;
}

.point__text {
    font-size: 22px;
    font-weight: 700;
    color: #5584ff;

    display: flex;
    align-items: center;

}

.fa-regular {
    width: auto;
}

.section__img {
    height: 667px;
    width: 1047px;
    margin-top: 7%;
}


  /* Section 2 */
.section2 {
    /* background-color: #0e1a35; */
    display: flex;
    align-items: center;

    width: 2000px;
    height: 750px;
    background-image: url(../images/Graph2.png), url(../images/Grid2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section2__container {
    width: 1533px;
    height: 411px;
    border: 3px solid red;
    margin-left: 137px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

/* left */
.container__inner {
    width: 850px;
    height: 410px;
    display: flex;
    border: 3px solid orange;
    justify-content: space-between;
}

/* progres */
.container__progres {
    width: 426px;
    height: 410px;
    border: 3px solid yellow;
}

.progres__head {
    margin-bottom: 27px;
    display: flex;
}
.progres__text {
    color: #fff;
    font-size: 30.59px;
    font-weight: medium;
}

.progres__num {
    color: #8492af;
    font-size: 30.59px;
    font-weight: medium;
    margin: 0 24px;
}

.progres__task {
    margin: 6px 3px;
}

/* complated */
.container__completed {
    width: 403px;
    height: 410px;
    border: 3px solid pink;
}

.completed__head{
    margin-bottom: 27px;
    display: flex;
}

.completed__text {
    color: #fff;
    font-size: 30.59px;
    font-weight: 600;
}

.completed__num {
    color: #8492af;
    font-size: 30.59px;
    font-weight: medium;
    margin: 0 8px;
}

.completed__task {
    margin: 6px 1px;
}

.completed__task1 {
    width: 390px;
    height: 100px;
    margin: 9px 1px;
    border: 1px dashed #8492af;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__text {
    color: #8492af;
    font-size: 20px;
    font-weight: medium;
    margin: 0 15px 10px 0;
    
}

/* right */
.container__text {
    width: 670px;
    height: 411px;
    border: 3px solid green;
    display: flex;
    justify-content: right;
    align-items: center;
}

.section2__header {
    width: 100%;
    max-width: 513px;
}

.section2__title {
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 46px;
}

.section2__text {
    color: #8492af;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 6px;
    line-height: 1.6;
}


/* ////////////////////////////////////////////////////////////////// */




















































































































































































.psd_pricing {
    width: 100%;
    max-width: 2000px;
    height: 2099px;
    background: url("../images/last_2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.powerfull_psd_template {
    height: 967px;
    color: black;
}

.psd_begin {
    height: 260px;
    max-width: 2000px;
    width: 100%;
}

.psd_h1 {
    padding-top: 92px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}

.psd_h2 {
    padding-top: 43px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #8492af;
}

.psd_h3 {
    padding-top: 9px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #8492af;
}

.psd_end {
    position: absolute;
    height: 625px;
    max-width: 1395px;
    left: 307px;
    right: 300px;
}

.psd_clean {
    height: 300px;
    width: 345px;
}

.psd_clean1 {
    padding-top: 175px;
    letter-spacing: 0.5px;
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
}

.psd_clean2 {
    word-spacing: 2px;
    letter-spacing: 0;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #8492af;
}

.psd_clean2_1 {
    padding-top: 40px;
}

.psd_clean2_2 {
    padding-top: 8px;
    word-spacing: 0.35px;
    letter-spacing: 0.4px;
}

.psd_clean2_3 {
    padding-top: 8px;
}

.psd_easy {
    height: 305px;
    width: 1395px;
    text-align: right;
}

.psd_easy1 {
    padding-top: 164px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-right: 6px;
}

.psd_easy2 {
    word-spacing: 2px;
    letter-spacing: 0;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #8492af;
}

.psd_easy2_1 {
    padding-top: 37px;
    padding-right: 7px;
}

.psd_easy2_2 {
    padding-top: 8px;
    word-spacing: 0.35px;
    letter-spacing: 0.4px;
    padding-right: 4px;
}

.psd_easy2_3 {
    padding-top: 8px;
    padding-right: 8px;
}

.pricing {
    height: 1132px;
    color: black;
}

.check_price {
    height: 335px;
    color: #000000;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    padding-top: 175px;
}

.pricing_container {
    display: flex;
    margin: 0 auto;
    left: 16%;
    justify-content: space-between;
    width: 1360px;
    height: 425px;
}

.rectangle {
    width: 360px;
    height: 425px;
    color: #000000;
}

.plans {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 400;
    height: 106px;
    padding-top: 43px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.bmonth_price {
    height: 102px;
    color: #000000;
    text-align: center;
    padding-left: 8px;
}

.month {
    font-size: 24px;
    font-weight: 400;
    color: #8492af;
}

.num {
    font-size: 72px;
    font-weight: 700;
}

.sign {
    font-size: 40px;
    font-weight: 700;
}

.b_features {
    padding-top: 13px;
    color: #8492af;
    height: 135px;
    line-height: 41px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    list-style-type: none;
    margin-left: 33px;
    word-spacing: 2px;
    letter-spacing: 0;
}

.skip {
    height: 105px;
    max-width: 2000px;
    width: 100%;
}

.join_text {
    height: 120px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    color: #8492af;
}

.join_text1 {
    padding-left: 20px;
}

.join_text2 {
    padding-left: 16px;
    padding-top: 5px;
}


.join_button{
    width: 205px;
    height: 50px;
    display: block;
    align-items: center;
    margin: 0 auto;
    background-color: #5584ff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-radius: 40px;
    transition: background .2s linear, color .2s;
}

.join_button:hover{
    background-color: #0e1a35;
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.footer{
    position: absolute;
    top: 5550px;
    width: 100%;
    max-width: 2000px;
    height: 150px;
    background-color: #0e1a35;
}

.footer_inner{ ;
    color: #8492af;
    display: flex;
    justify-content: space-between;
}

.footer_container{
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    height: 20px;
    padding-top: 65px;
}

/*Navigation footer*/
.navigate {
    padding-left: 22px;
    display: flex;
    gap: 45px;
}
.navigate1 {
    font-size: 18px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.navigate2 {
    font-size: 18px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.nav_link{
    color: #8492af;
    text-decoration: none;
    display: inline-block;
    vertical-align: center;
    align-items: center;
}

.nav_link:hover{
    color: white;
}