body {
    margin: 0;
    width: 2000px;
    height: 5700px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin : 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Header*/
.header{
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1690px;
    margin: 0 auto;
}

/*Navigation header*/
.navigation{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 10px 50px;
    align-items: center;
}

.navigation_link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: center;
    align-items: center;
}

.navigation_link:hover{
    color: cornflowerblue;
}

/*Buttons*/
.login_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #5584ff;
    background-color: #0e1a35;
    border-color: #5584ff;
    width: 130px;
    height: 50px;
    border-style: solid;
    border-radius: 40px;
    transition: background .3s linear, color .3s;
}

.login_button:hover{
    color: white;
    border-color: white;
}

/*Intro*/
.intro{
    width: 100%;
    height: 1100px;
    background-image: url("../images/InnerBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.intro_inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 5px;
}

.intro_subtitle{
    font-size: 36px;
    color: #8492af;
    margin-bottom: 88px;
}

.get_started_button{
    margin: 0 auto;
    margin-bottom: 88px;
    width: 205px;
    height: 50px;
    background-color: #5584ff;
    color: white;
    font-size: 18px;
    border-style: solid;
    border-radius: 40px;
    transition: background .2s linear, color .2s;
}

.get_started_button:hover{
    background-color: #0e1a35;
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.screen1_container{
    width: 900px;
    height: 490px;
    margin: 0 auto;
    bottom: 0;
    /*box-shadow: -10px 0px 50px rgb(85, 132, 255);*/
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Second slide*/
/*Image*/
.second_slide{
    width: 100%;
    height: 630px;
    top: 0;
    background-color: white;
}

.screen2_container{
    width: 900px;
    height: 130px;
    margin: 0 auto;
}

/*Title*/
.second_title{
    font-size: 24px;
    color: #0e1a35;
}

.second_title_container{
    margin: 0 auto;
    width: 1255px;
    display: flex;
    justify-content: space-between;
}

/*Second subtitle*/
.second_subtitle{
    font-size: 18px;
    color: #8492af;
}

.subtitle_align{
    text-align: center;
}

.second_subtitle_container{
    margin: 0 auto;
    width: 1355px;
    display: flex;
    justify-content: space-between;
}

/*Second buttons*/
.second_buttons_container{
    margin: 0 auto;
    width: 1245px;
    display: flex;
    justify-content: space-between;
}

.see_more_button{
    font-size: 18px;
    color: #0e1a35;
    width: 250px;
    height: 50px;
    background-color: white;
    border-color: #dadee7;
    border-style: solid;
    border-radius: 60px;
    transition: background .4s linear, color .4s;
}

.see_more_button:hover{
    color: cornflowerblue;
    border-color: cornflowerblue;
}




















































































































































































































.psd_pricing {
    width: 100%;
    max-width: 2000px;
    height: 2099px;
    background: url("../images/PSD+Pricing.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.powerfull_psd_template {
    height: 967px;
    color: black;
}

.pricing {
    height: 1132px;
    color: black;
}

.check_price {
    height: 335px;
    color: #000000;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    padding-top: 185px;
    background-color: green;
}

.pricing_container {
    display: flex;
    margin: 0 auto;
    left: 16%;
    justify-content: space-between;
    width: 1360px;
    height: 425px;
}

.plans {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 400;
    height: 120px;
    padding-top: 50px;
    background-color: red;


}

.bmonth_price {
    height: 115px;
    padding-top: 0px;
    color: #000000;
    text-align: center;
    background-color: orange;
}

.month {
    font-size: 24px;
    font-weight: 400;
    color: #8492af;
}

.num{
    font-size: 72px;
    font-weight: 700;
}

.sign {
    font-size: 40px;
    font-weight: 700;
}

.b_features {
    color: #8492af;
    height: 135px;
    line-height: 40px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    list-style-type: none;
}



.rectangle {
    width: 360px;
    height: 425px;
    color: #000000;
}

.text_and_button {
    display: flex;
    margin: 0 auto;
    left: 16%;
    padding-top: 110px;
    justify-content: space-between;
    width: 885px;
    height: 425px;
    background-color: #fafbfb;
}

.join_text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.join_button{
    padding-top: 70px;
    margin: 0 auto;
    width: 205px;
    height: 50px;
    background-color: #5584ff;
    color: white;
    font-size: 18px;
    border-style: solid;
    border-radius: 40px;
    transition: background .2s linear, color .2s;
}

.join_button:hover{
    background-color: #0e1a35;
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.footer{
    width: 100%;
    max-width: 2000px;
    height: 150px;;
    background-color: #0e1a35;
}

.footer_inner{;
    color: #8492af;
    display: flex;
    justify-content: space-between;
}

.footer_container{
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    height: 20px;
    padding-top: 70px;
}

/*Navigation footer*/
.navigate {
    font-size: 18px;
    gap: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.nav_link{
    color: #8492af;
    text-decoration: none;
    display: inline-block;
    vertical-align: center;
    align-items: center;
}

.nav_link:hover{
    color: white;
}
